.barList{

    text-align: right;
    display:block;
    /*position: absolute;*/
    right: 0;
    top: 0;

}

.barList li, .barList div{
    text-align: center;
    display: inline-block;
}
.barList>*{
    /*vertical-align: top;*/
    /*position: absolute;*/
}
.barList>*>li{
    vertical-align: top;

}
.barList li{
    margin-left: 15px;
    line-height: 24px;

}

#searchMenu{
    position:absolute;
    /*margin: 5px;*/
    padding: 0;

    width: 70px;
    display: none;
    text-align:center;
    /*border: 2px solid black;*/
    box-shadow:0px 0px 3px 0px #666;
    z-index: 100;
    /*left: 50%;*/
}
#searchMenu li{
    cursor: pointer;
    display: block;
    list-style: none;
    line-height: 26px;
    /*float: left;*/
    margin: 0;
    padding: 0 9px;

}


/*更多产品*/
.more{
    background-color: #38f;
    margin: 5px 5px;
}
#main{

    position: relative;
    text-align: center;
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main img{
    text-align: center;
    width: 270px;
    height: 129px;

}
#search{
    margin-top: 2%;
}
#searchText{
    width: 500px;
    height: 30px;
}
#searchButton{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 34px;
    background-color:  rgb(51 , 133, 255);/*#38f*/

}

#search input{
    margin: -4px;

}

.mobileBD{
    display: inline;
    position: absolute;
    left: 20%;
    right: 35%
}
.nuomi{
    display: inline;
    position: absolute;
    left: 35%;
    right: 50%;
}
.qr{
    display: block;
    float: left;
}
.firstLine{
    margin: 8px 6px 2px 6px;
    font-weight: bold;
    font-size: 12px;
}
.secondLine{
    margin: 8px 6px 2px 6px;
    font-size: 12px;
}
.qrDes{
    margin: 8px 0;
    display: block;
    float: left;
}
.desc{
    margin: 0;
    padding: 0;
    display: inline;
    position: absolute;
    left: 50%;
}
.footer > div{
    top: 80%;
}
.footer{
    vertical-align: top;
}
.descFirst:last-child{
    position: relative;
    left: 8px;
}
.desc>*{
    margin: 0;
    padding: 0;
    line-height: 22px;
}
.descFirst{
    padding-top: 0px;
}
