.barList{
    margin: 5px;
    padding: 0px;
    text-align: right;
    display:block;
}
.barList li, .barList div{
    text-align: center;
    display: inline;
}
.barList li{
    margin-left: 15px;
    line-height: 24px;
}


/*更多产品*/
.more{
    background-color: #38f;
    margin: 5px 5px;
}
#main{
    margin-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main img{
    text-align: center;
    width: 270px;
    height: 129px;

}
#search{
    margin-top: 2%;
}
#searchText{

    width: 500px;
    height: 30px;
}
#searchButton{
    margin: 0;
    padding: 0;

    width: 100px;
    height: 34px;
    background-color:  #38f;

}

#search input{
    margin: -4px;

}

.mobileBD{
    display: inline;
    position: absolute;
    left: 20%;
    right: 35%
}
.nuomi{
    display: inline;
    position: absolute;
    left: 35%;
    right: 50%;
}
.qr{
    display: inline;
}
.firstLine, .secondLine{

}
.qrDes{
    display: inline-block;
}
.desc{
    display: inline;
    position: absolute;
    left: 50%;
}
.footer > div{
    top: 80%;
}
