.barList{
    margin: 19px 0px 5px 0px;
    padding: 0px;
    text-align: right;
    display:block;
    /*position: absolute;*/
    right: 0;
    top: 0;


}

.barList li, .barList div{
    text-align: center;
    display: inline-block;
}

.barList>*>li{
    vertical-align: top;

}
.barList>*>li{
    margin-left: 15px;

    line-height: 24px;

}

#searchMenu{
    position:absolute;
    /*margin: 5px;*/
    padding: 0;

    width: 70px;
    display: none;
    text-align:center;
    /*border: 2px solid black;*/
    box-shadow:0px 0px 3px 0px #666;
    z-index: 100;
    right: 70px;
    /*left: 50%;*/
}
#searchMenu li{
    cursor: pointer;
    display: block;
    list-style: none;
    line-height: 26px;
    /*float: left;*/
    margin: 0;
    padding: 0 9px;

}


/*更多产品*/
#more{
    background-color: rgb(240,240,240);
    padding: 16px 0px;

}
#sidebarTitle{

    padding: 0px 5px;

}
#sidebar{
    display: none;
    background-color: #f0f0f0;/*rgb(240,240,240);*/
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    margin: 0;
    padding: 0;
    width: 85px;
    z-index: 200;
    /*min-height: 758px;*/
}
#sidebar li{
    position: relative;
    top: 20px;
}


#sidebar a{
    font-size: 12px;
    font-family: arial;
}
#sidebarMore a{
    font-size: 13px;
}
#sidebarMore{

}
#sidebar li{
    display: block;
    text-align: center;

}
#sidebar a{
    display: block;
    text-align: center;
    margin: 0 5px;

}
#sbMusic>a>span{
    display: block;
    margin: 10px auto 5px;
    background: url(./image/sidebar.png);
    background-color: rgba(0, 0, 0, 0);
    color: #666;
    background-position: -72px 0px;
    width: 40px;
    height: 36px;
}
#sbImage>a>span{
    display: block;
    margin: 10px auto 5px;
    background: url(./image/sidebar2.png);
    background-position: -112px 0px;
    width: 36px;
    height: 36px;
}
#main{

    position: relative;
    text-align: center;
    /*margin-top: 5%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main img{
    text-align: center;
    width: 270px;
    height: 129px;

}
#search{
    margin-top: 2%;
}
#searchText{
    width: 500px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid grey;
}
#searchButton{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 34px;
    background-color:  rgb(51 , 133, 255);/*#38f*/
    border: none;

}

#search input{
    margin: -4px;


}

.mobileBD{
    display: inline;
    position: absolute;
    left: 20%;
    right: 35%
}
.nuomi{
    display: inline;
    position: absolute;
    left: 35%;
    right: 50%;
}
.qr{
    display: block;
    float: left;
}
.firstLine{
    margin: 8px 6px 2px 6px;
    font-weight: bold;
    font-size: 12px;
}
.secondLine{
    margin: 8px 6px 2px 6px;
    font-size: 12px;
}
.qrDes{
    margin: 8px 0;
    display: block;
    float: left;
}
.desc{
    margin: 0;
    padding: 0;
    display: inline;
    position: absolute;
    left: 50%;
}
.footer > div{
    top: 80%;
}
.footer{
    vertical-align: top;
}
.descFirst:last-child{
    position: relative;
    left: 8px;
}
.desc>*{
    margin: 0;
    padding: 0;
    line-height: 22px;
}
.descFirst{
    padding-top: 0px;
}
