.barList{
    margin: 5px;
    padding: 0px;
    float: right;


}
.barList li, .barList div{
    display: inline;
}

.search{
    display: block;
}

#searchButton{
    float: right;
}

.mobileBD{
    display: block;
}
