.bold{
    font-weight: bold;
}
.barList a{
    font-size: 13px;
}
.barList a:visited,.barList a:link{
    color: black;
}
#sidebarTitle{
    background-color: #38f;

}
#sidebarTitle a{
    text-decoration: none;
}
#sidebarTitle a:visited,#sidebarTitle a:link{
    color: white;
}
.footer a:visited, .footer a:link, .footer p{
    color: #999;
}
.secondLine{
    color: #999;
}
#searchMenu li a{
    font-family:arial;
    font-size: 12px;
}
#searchMenu li:hover{
    background: #38f;
}
#searchMenu li a{
    text-decoration: none;
}
#searchMenu li:hover a{
    color: white;
}

#searchButton{
    color: white;
}
.desc{
    text-align: justify;
}
.descFirst a:nth-child(2){
    margin-left: 62px;
}
.descFirst a:last-child{
    margin-left: 62px;
}
.desc p,.desc a{
    font-size: 12px;
    font-family: arial;
}
.icp{
    position: relative;
    display: inline-block;
    top: 3px;
    background:url(./image/icons.png);
    background-position: -600px -96px;
    width: 14px;
    height: 17px;
    text-align: center;

}

.ga{
    position: relative;
    display: inline-block;
    top: 3px;
    background:url(./image/icons.png);
    background-position: -623px -96px;
    width: 14px;
    height: 17px;
}
