.bold{
    font-weight: bold;
}
.barList a{
    font-size: 13px;
}
.barList a:visited,.barList a:link{
    color: black;
}
.footer a:visited, .footer a:link{
    color: #999;
}
.secondLine{
    color: #999;
}
#searchMenu li{
    font-family:arial;
    font-size: 12px;
}
#searchMenu li:hover{
    background: #38f;
}
#searchMenu li a{
    text-decoration: none;
}
#searchMenu li:hover a{
    color: white;
}

#searchButton{
    color: white;
}
